body {
  background-color: rgba(236, 230, 218, 0.383);
}

.header {
  margin-top: 5%;
  font-size: 2em;
}

.fa-check-square {
  color: blue;
}

.card {
  margin: 2% 30%;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.55s ease-in-out;
}

.input {
  border: none;
  outline: none;
  margin: 0;
}

.input:focus {
  border: none;
  outline: none;
}

.checkbox {
  margin-right: 10px;
}

.checkbox:checked + .input {
  text-decoration: line-through;
}

.check-input-div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.fa-trash {
  margin-left: 10px;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .card {
    margin: 2% 0 7%;
  }

  .header {
    margin-top: 10%;
    font-size: 1.4em;
  }
}
